
body {
    background-color: #EAE7DC;
}
ul {
    font-family: "interstate-mono", monospace;
    font-weight: 700;
    font-style: normal; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E85A4F;
    display: flex; justify-content: space-between; 
  }
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #EB6F66;
  }

  