
body {
    background-color: #EAE7DC;
    font-family: "interstate-mono", monospace;
    font-weight: 700;
    font-style: normal; 
    text-align: center;

}

h1 {
  color:#E85A4F;
}

h3{
  color:#E85A4F;
}
h4 {
  color: #ff0e0e;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E85A4F;
    display: flex; justify-content: space-between; 
  }
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #EB6F66;
  }

  .spacer{
    height: 50px;
  }

  .firstpara{
    color:#E85A4F;
    font-size: small;
  }

  hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
  }

  h2{
    color:#E85A4F;
    font-size: medium;
  }

  .btn {
    padding: 10px 20px;
    font-family: "interstate-mono", monospace;
    font-weight: 700;
    font-style: normal; 
    background-color:#E85A4F;
    color: white;
    border: none;
  }


  @media only screen and (max-width: 800px) {
    ul 
    {
      flex-direction: column;
      align-items: center;
    }
    li 
    {
      width: 100%;
    }
    li a 
    {
      padding: 10px;
    }

    .container{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      
  
  
    }


  }
  


  /* Booking Page */



  label{
    display: inline-block;
  }

  /* services page */

  #cart-count {
    font-size: 20px;
  }
  .container{
    display: flex;
    justify-content: center;


  }
  .flex-item{
    padding: 10px;
    flex: 1 1 33%;
    border: 1px solid #D8C3A5;
  }




  .flex-img img {
    max-width: 150px;
  }

  .small {
    font-size: 14px;
  }


  /* shop page */

  .shop-container{
    display: flex;
    justify-content: center;


  }
  .shop-flex-item{
    padding: 25px;
    flex: 1 1 33%;
    background-color: white;
    border: 25px solid #EAE7DC;
  }




  .shop-flex-img img {
    width: 200px;
    height: 200px;
  }

